

// Process Parameters:

// Process Parameters for pipeline:
params.pipeline.detailed_log =  false  //* @checkbox @description:"Check the box to create detailed log files"
params.pipeline.infer_novel_v_alleles =  true  //* @checkbox @description:"Check the box to infer V germline sequences not included in the reference set"

// Process Parameters for downsample:
params.downsample.sample_limit =  2000  //* @input @description:"Max number of reads for each IGHV allele call"

// Pipeline Config:
$HOSTNAME='default'
